<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="ModuleDSV\LastUnits\Observer\CheckStock">
        <arguments>
            <argument name="layout" xsi:type="object">Magento\Framework\View\LayoutInterface</argument>
        </arguments>
    </type>
</config>
